.color-one {
    color: rgb(211, 46, 46);
}

.color-two {
    color: rgb(118, 127, 165);
}

.color-three {
    color: rgb(247, 182, 20);
}

.color-four {
    color: rgb(33, 187, 92);
}

.color-five {
    color: rgb(46, 49, 252);
}

.color-six {
    color: green;
}

.bg-one {
    background-color: rgb(211, 46, 46);
}

.bg-two {
    background-color: rgb(132, 148, 223);
}

.bg-three {
    background-color: rgb(250, 187, 26);
}

.bg-four {
    background-color: rgb(33, 187, 92);
}

.bg-five {
    background-color: rgb(223, 223, 223);
}

.bg-six {
    background-color: rgba(255, 255, 255, 0.329);
}